.crutch {
  background: url(../images/icon-burger-black.png),
              url(../images/icon-burger-blue.png),
              url(../images/icon-calendar-black.svg),
              url(../images/icon-calendar-blue.svg),
              url(../images/icon-calendar-gray.svg),
              url(../images/icon-facebook.svg),
              url(../images/icon-gift-black.svg),
              url(../images/icon-gift-blue.svg),
              url(../images/icon-house-black.svg),
              url(../images/icon-house-blue.svg),
              url(../images/icon-minus-black.svg),
              url(../images/icon-minus-blue.svg),
              url(../images/icon-minus-gray.svg),
              url(../images/icon-plus-black.svg),
              url(../images/icon-plus-blue.svg),
              url(../images/icon-plus-gray.svg),
              url(../images/icon-twitter.svg),
              url(../images/icon-youtube.svg),
              url(../images/logo-glukhanko-black.svg),
              url(../images/logo-glukhanko-blue.svg),
              url(../images/logo-glukhanko-gray.svg),
              url(../images/logo-htmlacademy-black.svg),
              url(../images/logo-htmlacademy-blue.svg),
              url(../images/logo-htmlacademy-gray.svg);
  position: absolute;
  top: -100px;
  width: 30px;
  height: 30px;
}