.features {
  background-color: #fff;
  text-transform: uppercase;

  &::before {
    content: '';
    display: block;
    height: 1px;
  }

  &__title {
    font-family: 'PTSans Bold', sans-serif;
    margin: 65px auto 35px;
    min-height: 48px;
    line-height: 26px;   
    color: #000;
    font-weight: bold;
    font-size: 21px;
    text-align: center;
  }

  &__description {
    font-family: 'PTSans', sans-serif;
    margin: 0px auto 55px;
    color: #333;
    font-size: 14px;
    text-align: center;
  }

  &__tiles {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
  
  &__tile {
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;

    &-title {
      margin: 0px auto;
      width: 40%;
      font-size: 21px;
      line-height: 26px;
      font-family: 'PTSans Bold', sans-serif;
      text-align: center;
    }

    &-number {
      position: relative;
      margin: 0px auto;
      width: 50px;
      font-size: 14px;
      line-height: 21px;
      font-family: 'PTSans', sans-serif;
      text-align: center;

      &::before {
        content: '';
        display: block;
        position: absolute;
        height: 2px;
        width: 9px;
        background-color: rgba(#333, .8);
        top: 9px;
        left: 0px;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        height: 2px;
        width: 9px;
        background-color: rgba(#333, .8);
        top: 9px;
        left: 40px;
      }

    }

    &-description {
      margin: 0px auto;
      width: 67%;
      font-size: 14px;
      line-height: 21px;
      font-family: 'PTSans', sans-serif;
      text-align: center;
    }

    &-icon {
      margin: 60px auto 30px;
      width: 74px;
      height: 70px;
    }

  }

  &__tile:nth-child(1) {
    background-color: #81b3d2;
    min-height: 256px;
    width: 34%;
    color: #fff;

    .features__tile-title{
      margin-top: 50px;
      margin-bottom: 12px;
    }

    .features__tile-number {
      margin-bottom: 25px;

      &::before {
        background-color: rgba(#fff, .8);
      }

      &::after {
        background-color: rgba(#fff, .8);
      }      
    }

  }

  &__tile:nth-child(2) {
    background-color: #cac9d0;
    background: url(../images/photo-city@1x.jpg) center center no-repeat;
    min-height: 256px;
    width: 66%;

    @media (min-resolution: 1.5dppx) {
      background: url(../images/photo-city@2x.jpg) center center / 100% 100% no-repeat;
      background-size: 100% 100%;
    }

  }


  &__tile:nth-child(3) {
    background-color: #fff;
    min-height: 330px;
    width: 33%;

    .features__tile-icon {
        font-size: 74px;
        text-align: center;
      &:hover {
        color: #81b3d2;
      }

    }

    .features__tile-title {
      margin-bottom: 27px;
    }

    .features__tile-description {
      color: #333;
    }

  }

  &__tile:nth-child(4) {
    background-color: #fff;
    min-height: 330px;
    width: 33%;

    .features__tile-icon {
      @include sprite($icon-burger-black);
      background-repeat: no-repeat;
      &:hover {
        @include sprite($icon-burger-blue);
        background-repeat: no-repeat;
      }

    }

    .features__tile-title {
      margin-bottom: 27px;
    }

    .features__tile-description {
      color: #333;
    }

  }

  &__tile:nth-child(5) {
    background-color: #fff;
    min-height: 330px;
    width: 33%;

    .features__tile-icon {
      font-size: 74px;
      text-align: center;
      &:hover {
        color: #81b3d2;

      }

    }

    .features__tile-title {
      margin-bottom: 27px;
    }

    .features__tile-description {
      color: #333;
    }

  }

  &__tile:nth-child(6) {
    background-color: #90462d;
    background: url(../images/photo-bridge@1x.jpg) center center no-repeat;
    min-height: 256px;
    width: 66%;

    @media (min-resolution: 1.5dppx) {
      background: url(../images/photo-bridge@2x.jpg) center center / 100% 100% no-repeat;
    }

  }

  &__tile:nth-child(7) {
    background-color: #81b3d2;
    min-height: 256px;
    width: 34%;
    color: #fff;

    .features__tile-title{
      margin-top: 50px;
      margin-bottom: 12px;
    }

    .features__tile-number {
      margin-bottom: 25px;

      &::before {
        background-color: rgba(#fff, .8);
      }

      &::after {
        background-color: rgba(#fff, .8);
      }      
    }   

  }

  &__tile:nth-child(8) {
    background-color: #eee;
    min-height: 256px;
    width: 33%;

    .features__tile-title {
      margin-top: 50px;
      margin-bottom: 16px;
    }

    .features__tile-number {
      color: #333;
      margin-bottom: 20px;

      &::after {
        background-color: rgba(#333, .8)
      }
      &::before {
        background-color: rgba(#333, .8)
      }
    }

  }

  &__tile:nth-child(9) {
    background-color: #eee;
    min-height: 256px;
    width: 34%;

    .features__tile-title {
      margin-top: 50px;
      margin-bottom: 16px;
    }

    .features__tile-number {
      color: #333;
      margin-bottom: 20px;

      &::after {
        background-color: rgba(#333, .8)
      }
      &::before {
        background-color: rgba(#333, .8)
      }
    }
  }

  &__tile:nth-child(10) {
    background-color: #eee;
    min-height: 256px;
    width: 33%;

    .features__tile-title {
      margin-top: 50px;
      margin-bottom: 16px;
    }

    .features__tile-number {
      color: #333;
      margin-bottom: 20px;

      &::after {
        background-color: rgba(#333, .8)
      }
      &::before {
        background-color: rgba(#333, .8)
      }
    }
  }

  @import 'adaptive/features--adaptive.scss';
}
