@font-face {
  font-family: 'PTSans Bold';
  src:url(../fonts/PT_Sans-Web-Bold.ttf);
}

@font-face {
  font-family: 'PTSans';
  src:url(../fonts/PT_Sans-Web-Regular.ttf);
}

@font-face {
  font-family: 'PTSans Italic';
  src:url(../fonts/PT_Sans-Web-italic.ttf);
}