@import 'social-links.scss';
@import 'copyright.scss';

.footer {
  position: relative;
  margin-top: -120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  wrap: nowrap;
  min-height: 120px;
  background-color: rgba(#fff, .8);

  &__tag {
    color: #000;
    font-family: 'PTSans Bold', sans-serif;
    font-size: 21px;
    text-transform: uppercase;
  }
}