.hotel-form {
  display: block;
  position: absolute;
  width: 568px;
  min-height: 480px;
  left: 50%;
  top: 222px;
  margin-left: -284px;
  background-color: #fff;
  z-index: 30;
  text-transform: uppercase;

  &__title {
    min-height: 86px;
    margin: 0px;
    background-color: #766357;
    color: #fff;
    font-family: 'PTSans Bold', sans-serif;
    font-weight: bold;
    font-size: 21px;
    padding-top: 32px;
  }

  &__content {
    box-shadow: 0px 0px 15px rgba(#000, .3);
    min-height: 394px;
    padding: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  &__icon-calendar--entry-date {
    display: block;
    position: absolute;
    top: -2px;
    left: 430px;
    width: 20px;
    height: 22px;
    background: url(../images/icon-calendar-gray.svg) center center no-repeat;
    
    &:hover {
      background-image: url(../images/icon-calendar-black.svg);
      cursor: pointer;
    }
    &:active {
      background-image: url(../images/icon-calendar-blue.svg);
    }    

  }

  &__icon-calendar--exit-date {
    display: block;
    position: absolute;
    top: -2px;
    left: 430px;
    width: 20px;
    height: 22px;
    background: url(../images/icon-calendar-gray.svg) center center no-repeat;
    
    &:hover {
      background-image: url(../images/icon-calendar-black.svg);
      cursor: pointer;
    }
    &:active {
      background-image: url(../images/icon-calendar-blue.svg);
    }    

  }

  &__icon-minus--adults {
    display: block;
    position: absolute;
    top: -5px;
    left: 130px;
    width: 10px;
    height: 30px;
    background: url(../images/icon-minus-gray.svg) center center no-repeat;
    
    &:hover {
      background-image: url(../images/icon-minus-black.svg);
      cursor: pointer;
    }
    &:active {
      background-image: url(../images/icon-minus-blue.svg);
    }    

  }

  &__icon-plus--adults {
    display: block;
    position: absolute;
    top: -5px;
    left: 197px;
    width: 10px;
    height: 30px;
    background: url(../images/icon-plus-gray.svg) center center no-repeat;
    
    &:hover {
      background-image: url(../images/icon-plus-black.svg);
      cursor: pointer;
    }
    &:active {
      background-image: url(../images/icon-plus-blue.svg);
    }    

  }

  &__icon-minus--children {
    display: block;
    position: absolute;
    top: -5px;
    left: 130px;
    width: 10px;
    height: 30px;
    background: url(../images/icon-minus-gray.svg) center center no-repeat;
    
    &:hover {
      background-image: url(../images/icon-minus-black.svg);
      cursor: pointer;
    }
    &:active {
      background-image: url(../images/icon-minus-blue.svg);
    }    

  }

  &__icon-plus--children {
    display: block;
    position: absolute;
    top: -5px;
    left: 197px;
    width: 10px;
    height: 30px;
    background: url(../images/icon-plus-gray.svg) center center no-repeat;
    
    &:hover {
      background-image: url(../images/icon-plus-black.svg);
      cursor: pointer;
    }
    &:active {
      background-image: url(../images/icon-plus-blue.svg);
    }    

  }


  [class^='hotel-form__label'] {
    display: block;
    position: relative;
    width: 110px;
    font-family: 'PTSans Bold', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #000;

  }

  [class^='hotel-form__input'] {
    display: block;
    width: 348px;
    text-transform: uppercase;
    font-family: 'PTSans Bold', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #000;
    background-color: #f2f2f2;
    border: none;
    height: 38px;
    padding: 10px 15px;

    &:hover {
      background: #ebebeb;
    }
    &:focus {
      outline: 2px solid #ebebeb;
    }

  }

  .hotel-form__input--adults {
    width: 113px;
    text-align: center;
  }  

  .hotel-form__input--children {
    width: 113px;
    text-align: center;
  }  

  .hotel-form__input--submit {
    width: 100%;
    min-height: 58px;
    text-align: center;
    background-color: #81b3d2;
    color: white;
    font-size: 21px;

    &:hover {
      background-color: #669ec0;
    }

    &:hover {
      background-color: #5496bd;
      color: rgba(#fff, .5);
    }    
  }     

}
