/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-burger-black-name: 'icon-burger-black';
$icon-burger-black-x: 0px;
$icon-burger-black-y: 0px;
$icon-burger-black-offset-x: 0px;
$icon-burger-black-offset-y: 0px;
$icon-burger-black-width: 74px;
$icon-burger-black-height: 70px;
$icon-burger-black-total-width: 158px;
$icon-burger-black-total-height: 115px;
$icon-burger-black-image: '../images/sprite.png';
$icon-burger-black: (0px, 0px, 0px, 0px, 74px, 70px, 158px, 115px, '../images/sprite.png', 'icon-burger-black', );
$icon-burger-blue-mini-name: 'icon-burger-blue-mini';
$icon-burger-blue-mini-x: 0px;
$icon-burger-blue-mini-y: 80px;
$icon-burger-blue-mini-offset-x: 0px;
$icon-burger-blue-mini-offset-y: -80px;
$icon-burger-blue-mini-width: 37px;
$icon-burger-blue-mini-height: 35px;
$icon-burger-blue-mini-total-width: 158px;
$icon-burger-blue-mini-total-height: 115px;
$icon-burger-blue-mini-image: '../images/sprite.png';
$icon-burger-blue-mini: (0px, 80px, 0px, -80px, 37px, 35px, 158px, 115px, '../images/sprite.png', 'icon-burger-blue-mini', );
$icon-burger-blue-name: 'icon-burger-blue';
$icon-burger-blue-x: 84px;
$icon-burger-blue-y: 0px;
$icon-burger-blue-offset-x: -84px;
$icon-burger-blue-offset-y: 0px;
$icon-burger-blue-width: 74px;
$icon-burger-blue-height: 70px;
$icon-burger-blue-total-width: 158px;
$icon-burger-blue-total-height: 115px;
$icon-burger-blue-image: '../images/sprite.png';
$icon-burger-blue: (84px, 0px, -84px, 0px, 74px, 70px, 158px, 115px, '../images/sprite.png', 'icon-burger-blue', );
$spritesheet-width: 158px;
$spritesheet-height: 115px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($icon-burger-black, $icon-burger-blue-mini, $icon-burger-blue, );
$spritesheet: (158px, 115px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
