.top-menu {
  background-color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  font-family: 'PTSans Bold', sans-serif;
  font-weight: bold;

  
  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    height: 56px;
  }

  &__logo {
    width: 137px;
    height: 70px;
    background: url('../images/logo-sedona@1x.png') center top no-repeat,
                url('../images/form-logo-triangle.svg') center top no-repeat;

    @media (min-resolution: 1.5dppx) {
      background: url('../images/logo-sedona@2x.png') center top no-repeat 50%,
      url('../images/form-logo-triangle.svg') center top no-repeat;            
    }

     @media (min-resolution: 2.5dppx) {
      background: url('../images/logo-sedona@3x.png') center top no-repeat 33%,
      url('../images/form-logo-triangle.svg') center top no-repeat;            
    }
       
  }

  
  &__item {
    display: block;
    list-style: none;
  }

  &__link {
    color: #000;
    text-decoration: none;

    &:hover {
      color: #81b3d2;
    }
    &--active {
      color: #766357;

      &:hover {
        color: #604e43;
      }
    }
  }
}