.welcome {
  position: relative;
  height: 508px;
  background: url(../images/photo-background@1x.jpg)  center 20% no-repeat;
  border-bottom: 0px solid #fefefe;

  @media (min-resolution: 1.5dppx) {
    background: url(../images/photo-background@2x.jpg) center center / 100% 100% no-repeat ;
  }
  &::before {
    content: '';
    display: block;
    height: 1px;
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 57px;
    left: 0px;
    top: 451px;
    background: url(../images/welcome-shape.png) center center no-repeat;
    background-size: 101% 57px;
  }

  &__welcome {
    display: block;
    margin: 77px auto 10px;
    height: 45px; 
    fill: #81b3d2;
  }

  &__to-the-gorgeous {
    display: block;
    margin: 0px auto 60px;
    height: 26px;
    fill: #766357;
  }

  &__sedona {
    display: block;
    margin: 0px auto 55px;
    height: 80px;
    fill: #fff;
  }

  &__because-canyon {
    display: block;
    margin: 0px auto;
    height: 80px;
    fill: #fff;
  }

  @import 'adaptive/welcome--adaptive.scss';

}