html
  head
    title Привет, мир!
    //build:css css/style.min.css
    link(rel='stylesheet' href='css/style.css')
    //endbuild
  body
    p Ещё раз привет, мир!
    p Ты лжёшь, бастард!
    p Тест
    p Мадина шлюха