<!DOCTYPE HTML>
html
  head
    title Sedona
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //build:css css/style.min.css
    link(rel='stylesheet' href='css/style.css')
    //endbuild
  body
    div.container
        include components/top-menu.pug
        include components/welcome.pug
        include components/features.pug
        include components/map.pug
        include components/footer.pug
    //build:js js/main.min.js
    script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD0WN25pem6O-d9YZky36BUjanDNxlEgjg")
    script(type="text/javascript" src="js/main.js")
    //endbuild
