div.features
  h2.features__title Седона - небольшой городок в Аризоне, заслуживающий большего!
  p.features__description Рассмотрим 5 причин, по которым седона круче чем Гранд Каньон!
  div.features__tiles 
    //first string
    div.features__tile 
      div.features__tile-title Настоящий городок
      div.features__tile-number №1 
      div.features__tile-description Седона не аттракцион для туристов, там течёт своя жизнь
    div.features__tile 
    //second string
    div.features__tile
      div.features__tile-icon
      div.features__tile-title Жильё
      div.features__tile-description Рекомендуем пожить в настоящем мотеле, всё как в кино!
    div.features__tile
      div.features__tile-icon
      div.features__tile-title Еда
      div.features__tile-description  Всегда заказывай фирменный бургер, вы не разочаруетесь! 
    div.features__tile
      div.features__tile-icon
      div.features__tile-title Сувениры
      div.features__tile-description  Не только китайского, но и местного производства!
    //third string
    div.features__tile
    div.features__tile 
      div.features__tile-title Там есть мост дьявола
      div.features__tile-number №2
      div.features__tile-description Да, по нему можно пройти! Если конечно вы осмелитесь  
    //fourth string       
    div.features__tile
      div.features__tile-title Небольшая площадь
      div.features__tile-number №3
      div.features__tile-description Все достопримечательности находятся очень близко
    div.features__tile
      div.features__tile-title Красивая дорога
      div.features__tile-number №4
      div.features__tile-description Ехать в Седону из Лас-Вегаса совсем не скучно!
    div.features__tile
      div.features__tile-title Мало туристов
      div.features__tile-number №5
      div.features__tile-description Большинство едет в Гранд-каньон и толпится там