div.forIE 
  p  Хотел посмотреть ты нормальную вёртску на своём некроговне? А сосни-ка хуйца! Держи ссылку на <a href='https://www.google.ru/chrome/browser/desktop/' title='богоподобный браузер с мокрыми писечками бесплатно без смс' target='_blank'>нормальный браузер</a>.
  i.icon-icon-cross
