div.social-links
  a.social-links__social-link(href='#')
    i.social-links__icon--twitter
  a.social-links__social-link(href='#')
    i.social-links__icon--facebook
  a.social-links__social-link(href='#')
    i.social-links__icon--youtube
  