header.top-menu
  ul.top-menu__list
    li.top-menu__item
      a.top-menu__link.top-menu__link--active(href='#') Информация
    li.top-menu__item
      a.top-menu__link(href='#') Фото и видео
    div.top-menu__logo
      div.top-menu__logo--second
    li.top-menu__item
      a.top-menu__link(href='#') Карта штата
    li.top-menu__item
      a.top-menu__link(href='#') Гостиницы             
