header.top-menu
  ul.top-menu__list
    i.top-menu__cross.icon-icon-cross
    li.top-menu__item
      a.top-menu__link.top-menu__link--active(href='#') Информация
    li.top-menu__item
      a.top-menu__link(href='#') Фото и видео
    div.top-menu__container-logo
      i.top-menu__menu-button.icon-icon-menu
      div.top-menu__logo
        svg.top-menu__logo-form-logo-triangle
          use(xlink:href='images/sprite-svg.svg#form-logo-triangle')
        div.top-menu__logo--second
    li.top-menu__item
      a.top-menu__link(href='#') Карта штата
    li.top-menu__item
      a.top-menu__link(href='#') Гостиницы             
