div.welcome
  svg.welcome__welcome
    use(xlink:href='images/sprite-svg.svg#text-welcome')
  svg.welcome__to-the-gorgeous
    use(xlink:href='images/sprite-svg.svg#text-tothegorgeous')    
  svg.welcome__sedona
    use(xlink:href='images/sprite-svg.svg#text-sedona')
  svg.welcome__because-canyon
    use(xlink:href='images/sprite-svg.svg#text-becausecanyon')