@import 'components/fonts.scss';
@import 'components/icon-font-sedona.scss';
@import 'components/sprite.scss';
@import 'components/normalize.scss';
@import 'components/top-menu.scss';
@import 'components/welcome.scss';
@import 'components/features.scss';
@import 'components/map.scss';
@import 'components/footer.scss';
@import 'components/hotel-form.scss';
//@import 'components/crutch.scss';


body {
  background-color: #f2f2f2;

/*   @media(max-width: 850px) {
  min-width: 768px;
} */
}

html {
  box-sizing: border-box;
}
*,*:before,*:after {
  box-sizing: inherit;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  box-shadow: 0px 0px 20px rgba(#000, .2);
  overflow: hidden;
  
/*   @media(max-width: 850px) {
  max-width: 768px;
  width: 768px;
  margin: 0px auto;
} */
}

/* @media(max-width: 800px) {
  .container {
    max-width: 768px;
    width: 768px;
    margin: 0px auto;
  }
  body {
    min-width: 768px;
  }
} */

